.contestant-card-container {
  display: grid;
  width: 900px;
  height: auto;
  margin: 0px 10px;
  min-width: fit-content;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 10px;
  justify-items: center;
  align-content: space-between;
  z-index: 0;
}
