.input-container {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: rgb(32, 4, 68);
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 2px whitesmoke solid;
}

.input-holder {
  position: relative;
}
.input-holder label {
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  width: max-content;
  top: -10px;
  transform: translateX(-50%);
  color: whitesmoke;
  padding: 3px;
  background-color: rgb(32, 4, 68);
}

.input-holder input::selection {
  border-color: cyan;
}

.input-container input {
  width: 100px;
  height: 40px;
  font-size: large;
  border-radius: 20px;
  text-align: center;
  background: none;
  color: whitesmoke;
  border: 3px solid whitesmoke;
}

div#seperator {
  height: 88px; /* Just put whatever comes out the total height of container*/
}
