.contestant-row-container {
  position: relative;
  border-radius: 30px;
  height: 60px;
  overflow: hidden;
  background: linear-gradient(rgb(32, 4, 68), rgb(43, 13, 83));
}

.contestant-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 100%;
  font-size: 1.2em;
}

.rank-side {
  text-align: center;
  text-shadow: 0px 0px 5px black;
  font-size: 2em;
}

#ranked-1 {
  background: linear-gradient(rgb(1, 112, 112), rgb(9, 129, 129));
}

.contestant-row-container:hover {
  background: whitesmoke;
  color: rgb(32, 4, 68);
  text-shadow: 0px 0px 1px black;
  border: 2px solid rgb(32, 4, 68);
}
