div#workspace-wrapper {
  height: auto;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .workspace-wrapper {
    display: none !important;
  }
}
