.header-container {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: 2px var(--super-light-color) solid;
}

.input-holder {
  position: relative;
}
.input-holder label {
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  width: max-content;
  top: -10px;
  transform: translateX(-50%);
  color: var(--super-light-color);
  padding: 3px;
  background-color: var(--dark-color);
}

.input-holder input::selection {
  border-color: cyan;
}

.header-container input,
.flip-show-cards {
  width: 100px;
  height: 40px;
  font-size: large;
  border-radius: 20px;
  text-align: center;
  background: none;
  color: var(--super-light-color);
  border: 3px solid var(--super-light-color);
}

div#seperator {
  height: 88px; /* Just put whatever comes out the total height of container*/
}

.flip-show-cards {
  width: 150px;
}

#show-cards-btn,
#hide-cards-btn:hover {
  color: var(--dark-color);
  background-color: var(--super-light-color);
  font-size: 1em;
  cursor: pointer;
}

#hide-cards-btn,
#show-cards-btn:hover {
  background-color: var(--dark-color);
  color: var(--super-light-color);
  font-size: 1em;
  cursor: pointer;
}
