.card-holder {
  position: relative;
  height: 300px;
  width: 230px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  overflow: hidden;
}

img.card-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: center;
  z-index: 2;
  background-color: rgb(32, 4, 68);
}

.rank-card-view {
  position: absolute;
  font-size: 3em;
  transform: translate3d(10px, 10px, 0px);
  text-shadow: 0px 0px 10px black;
  z-index: 1;
}

.card-rank {
  text-transform: capitalize;
}

.overlay-img {
  position: absolute;
  height: 200px;
  width: 100%;
  opacity: 0.65;
  background: linear-gradient(
    30deg,
    rgb(21, 7, 39),
    rgb(21, 7, 39),
    rgb(44, 16, 82),
    rgb(112, 61, 179),
    rgb(165, 130, 212),
    rgb(206, 181, 238)
  );
}
