.contestant-row-container {
  position: relative;
  border-radius: 30px;
  height: 60px;
  overflow: hidden;
  background: linear-gradient(var(--dark-color), var(--medium-color));
}

.contestant-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 100%;
  font-size: 1.2em;
}

.rank-side {
  text-align: center;
  text-shadow: 0px 0px 5px var(--dark-color);
  font-size: 2em;
}

#ranked-1 {
  background: linear-gradient(rgb(1, 112, 112), rgb(9, 129, 129));
}

.contestant-row-container:hover {
  background: var(--super-light-color);
  color: var(--dark-color);
  text-shadow: 0px 0px 1px var(--dark-color);
  border: 2px solid var(--dark-color);
  box-shadow: 0 0 8px 2px var(--dark-color);
}
