@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  /* outline: 1px solid black; */
  font-family: 'Lato', sans-serif;
}

body {
  background: black;
  color: whitesmoke;
}
